<h1 class="text-center">Links</h1>
<div class = "col-md-8 offset-2">
    <% @links.each do |link| %>
      <p><%= link.link_name %></p>
      <p><%= truncate(link.description, length: 50) %></p>
      <p>Tags: <%= raw link.tags.map(&:name_tag).map { |t| link_to t, tag_path(t) }.join(', ') %></p>
      <p><%= link_to "Read Link", link_path(link) %></p>
    <% end %>
</div>
