.col-md-8.offset-2
  %h5
    %a{href: @link.link_name, class:"badge badge-secondary"}
      =@link.link_name
  %p
    %strong= @link.description
  - if @link.tags.present?
    %p
      Tags: #{raw @link.all_tags.map { |t| link_to t, tag_path(t) }.join(', ')}
  - else
    %p Tags doesn`t exist
  = link_to 'Back', links_path, class:"btn btn-sm btn-outline-secondary"
